{% extends 'base.html.twig' %}
{% block title %}Se connecter | Sortir.com{% endblock %}
{% block body %}
    {{ include('utils/header.html.twig') }}
    <div class="container" style="min-height: 80vh">
        {% if app.user %}
            <div class="my-3 text-center">
                Vous êtes déjà connecté(e) en temps que {{ app.user.prenom }} {{ app.user.nom }}
                <br/>
                <a href="{{ path('app_logout') }}">Se déconnecter ?</a>
            </div>
        {% else %}
            <div class="d-flex justify-content-center">
                <div class="col-lg-4">
                    <h3 class="py-4 text-center">Se connecter</h3>
                    <form method="post">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="bi bi-person"></i></span>
                            <input
                                    type="text"
                                    name="email"
                                    id="inputEmail"
                                    value="{{ last_username }}"
                                    class="form-control"
                                    placeholder="Nom d'utilisateur"
                                    aria-label="Username"
                                    aria-describedby="basic-addon1"
                                    autocomplete="email"
                                    required
                                    autofocus
                            >
                        </div>
                        <div class="input-group mb-0">
                            <span class="input-group-text" id="basic-addon1"><i class="bi bi-key"></i></span>
                            <input
                                    type="password"
                                    name="password"
                                    id="inputPassword"
                                    class="form-control"
                                    placeholder="Mot de passe"
                                    aria-label="password"
                                    aria-describedby="basic-addon1"
                                    autocomplete="current-password"
                                    required
                            >
                        </div>
                        <div class="row mb-3 mx-1">
                            <div class="col-lg-6 text-start">
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                <small class="text-muted"><label><input type="checkbox" name="_remember_me"> Se souvenir de moi</label></small>
                            </div>
                            <div class="col-lg-6 text-end">
                                <small><a href="{{ path('mdp_oubli') }}" class="text-muted">Mot de passe oublié ?</a></small>
                            </div>
                        </div>
                        {% if error %}
                            <div class="text-center p-2 my-3 text-danger">
                                <i class="bi bi-exclamation-triangle"></i>
                                {{ error.message | trans({}, 'security') }}
                            </div>
                        {% endif %}

                        <div class="row mx-0">
                            <button class="btn btn-lg btn-primary mb-1" type="submit">Se Connecter</button>
                            <a href="{{ path('app_register') }}" class="text-muted text-center" type="submit">Créer un compte</a>
                        </div>

                    </form>
                </div>
            </div>
        {% endif %}
    </div>
    {{ include('utils/footer.html.twig') }}
{% endblock %}
