{% extends 'base.html.twig' %}

{% block title %}
        Annuler la Sortie N°{{ sortie.id }} | {{ sortie.nom }}
{% endblock %}

{% block body %}
    {{ include('utils/header.html.twig') }}

    <div class="container" style="min-height: 80vh">
        <h3 class="text-center py-3">Annuler la sortie</h3>
        {{ form_start(sortieForm) }}
            <div class="row">
                <div class="col-lg-5 mx-auto pb-2">
                    <label for="username" class="col-lg-5">Nom de la sortie :</label>
                    <label for="username" class="col-lg-auto ps-2">{{ sortie.nom }}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 mx-auto pb-2">
                    <label for="username" class="col-lg-5">Date et heure de la sortie :</label>
                    <label for="username" class="col-lg-auto ps-2">{{ sortie.dateHeureDebut|date('d-m-Y') }}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 mx-auto pb-2">
                    <label for="username" class="col-lg-5">Site organisateur :</label>
                    <label for="username" class="col-lg-auto ps-2">{{ sortie.site.nom | upper }}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 mx-auto pb-2">
                    <label for="username" class="col-lg-5 align-top">Lieu :</label>
                    <label for="username" class="col-lg-auto ps-2">
                        {{ sortie.lieu.nom }} <br/> {{ sortie.lieu.rue }} <br/> {{ sortie.lieu.ville.codePostal }} {{ sortie.lieu.ville.nom | upper }}
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 mx-auto pb-2">
                    {{ form_label(sortieForm.motifAnnulation, 'Motif : ', { 'label_attr' : { 'class' : 'col-lg-auto pe-2 align-top'}}) }}
                    {{ form_widget(sortieForm.motifAnnulation, { 'attr' : { 'class' : 'col-lg-9'}}) }}
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <input type="submit" value="Annuler la sortie" class="btn btn-warning col-lg-auto">
                    <a class="btn btn-outline-danger col-lg-1" href="{{ path('home')}}">Retour</a>
                </div>
            </div>
        {{ form_end(sortieForm) }}
    </div>

    {{ include('utils/footer.html.twig') }}
{% endblock %}
