{% extends 'base.html.twig' %}

{% block title %}Accueil | Sortir.com{% endblock %}

{% block body %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $(document).ready(function() {
            // you may need to change this code if you are not using Bootstrap Datepicker
            $('.js-datepicker').datepicker({
                format: 'dd-mm-yyyy'
            });
        });
    </script>

    {{ include('utils/header.html.twig') }}

    <div class="container" style="min-height: 80vh">
        <div class="row">
            <div class="col my-auto mx-auto text-center">
                {% for message in app.flashes('notice') %}
                    <div class="alert alert-success p-2 my-3">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
            <div class="col-lg-2">
                <h6 class="text-end py-3">
                    Date du jour : {{ "now"|date("d/m/Y") }}<br/>
                    Participant : {{ user.prenom }} {{ user.nom|slice(0,1) }}.
                </h6>
            </div>
        </div>

        <h5>Filtrer les sorties</h5>
        <form class="row p-3" method="post">
            {{ form_start(sortieFiltreForm) }}
            <div class="col-lg-4">
                <div class="row pb-2">
                    <div class="form-group">
                        <label for="site" class="col-lg-2">Site :</label>
                        {{ form_widget(sortieFiltreForm.site, {'attr': {'class' : 'col-lg-9 align-middle'}}) }}
                    </div>
                </div>
                <div class="row pb-2">
                    <div class="form-group">
                        {{ form_label(sortieFiltreForm.nom, 'Le nom contient :', {'label_attr' : {'class' : 'col-lg-4 align-middle'}}) }}
                        {{ form_widget(sortieFiltreForm.nom, {'attr': {'class' : 'col-lg-7 align-middle'}}) }}
                    </div>
                </div>
                <div class="row pb-2">
                    <div class="form-group">
                        <label class="align-middle col-lg-2">Entre</label>
                        {{ form_widget(sortieFiltreForm.dateDebut, {'attr': {'class' : 'align-middle'}}) }}
                        <label class="align-middle col-lg-1 text-center"> et </label>
                        {{ form_widget(sortieFiltreForm.dateFin, {'attr': {'class' : 'align-middle'}}) }}
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    {{ form_widget(sortieFiltreForm.organisateur) }}
                    <label for="" class="align-middle ps-1"> {{ form_label(sortieFiltreForm.organisateur) }} </label><br/>
                    {{ form_widget(sortieFiltreForm.estInscrit) }}
                    <label for="" class="align-middle ps-1"> {{ form_label(sortieFiltreForm.estInscrit) }} </label><br/>
                    {{ form_widget(sortieFiltreForm.estNonInscrit) }}
                    <label for="" class="align-middle ps-1"> {{ form_label(sortieFiltreForm.estNonInscrit) }} </label><br/>
                    {{ form_widget(sortieFiltreForm.estPassee) }}
                    <label for="" class="align-middle ps-1"> {{ form_label(sortieFiltreForm.estPassee) }} </label><br/>
                </div>
            </div>
            <div class="col-lg-4 my-auto text-center">
                <input type="submit" value="Rechercher" class="btn btn-primary p-4">
                <a class="btn btn-outline-primary p-4 ms-5" href="{{ path('sortie_creer') }}">Créer une sortie</a>
            </div>
            {{ form_end(sortieFiltreForm) }}
        </form>

        <div class="tableFixHead" style="height: 290px">
            <table class="table table-bordered table-striped mb-0">
                <thead>
                    <tr class="table-primary text-center">
                        <th>Nom de la sortie</th>
                        <th>Date de la sortie</th>
                        <th>Clôture</th>
                        <th>Inscrits/Places</th>
                        <th>Etat</th>
                        <th>Inscrit</th>
                        <th>Organisateur</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sortie in sorties %}
                        {% if (sortie.etat.libelle == 'Créée' and sortie.organisateur.id == user.id) or sortie.etat.libelle in ['Ouverte','Clôturée','En cours','Passée','Annulée'] %}
                            <tr class="text-center">
                            <td>{{ sortie.nom }}</td>
                            <td>{{ sortie.dateHeureDebut|date("d/m/Y H:m", "Europe/Paris") }}</td>
                            <td>{{ sortie.dateLimiteIncription|date("d/m/Y") }}</td>
                            <td>{{ sortie.sortiesParticipants|length }} / {{ sortie.nbInscriptionsMax }}</td>
                            <td>
                                <span class="badge bg-{{ etatLabels[sortie.etat.libelle] }}">{{ sortie.etat.libelle }}</span>
                            </td>
                            <td>{% if user in sortie.sortiesParticipants %} <i class="bi bi-x"></i> {% endif %}</td>
                            <td>
                                <a href="{{ path("profil", {id: sortie.organisateur.id}) }}" class="link-dark">
                                    {{ sortie.organisateur.prenom }} {{ sortie.organisateur.nom|slice(0,1) }}.
                                </a>
                            </td>
                            <td>
                                {% if sortie.etat.libelle == 'Créée' %}
                                    <a href="{{ path('sortie_modifier', {id: sortie.id}) }}" title="Modifier la sortie"><i class="bi bi-pencil-square"></i></a>
                                    <a href="{{ path('sortie_etat', {id: sortie.id, nouvelEtat: 'Ouverte'}) }}" title="Publier la sortie"><i class="bi bi-check-square"></i></a>
                                {% elseif sortie.etat.libelle == 'Ouverte' %}
                                    <a href="{{ path('sortie_details', {id: sortie.id}) }}" title="Afficher la sortie"><i class="bi bi-search"></i></a>
                                    {% if user.id == sortie.organisateur.id %}
                                        <a href="{{ path('sortie_annuler', {id: sortie.id}) }}" title="Annuler la sortie"><i class="bi bi-x-square"></i></a>
                                    {% endif  %}
                                    {% if user in sortie.sortiesParticipants %}
                                        <a href="{{ path('sortie_inscription_desistement', {id: sortie.id, userId: user.id, action: 'desistement'}) }}" title="Se désister"><i class="bi bi-dash-circle"></i></a>
                                    {% elseif (user not in sortie.sortiesParticipants and user.id != sortie.organisateur.id) %}
                                        <a href="{{ path('sortie_inscription_desistement', {id: sortie.id, userId: user.id, action: 'inscription'}) }}" title="S'inscrire"><i class="bi bi-plus-circle"></i></a>
                                    {% endif %}
                                {% elseif sortie.etat.libelle == 'Clôturée' %}
                                    <a href="{{ path('sortie_details', {id: sortie.id}) }}" title="Afficher la sortie"><i class="bi bi-search"></i></a>
                                    {% if user in sortie.sortiesParticipants %}
                                        <a href="{{ path('sortie_inscription_desistement', {id: sortie.id, userId: user.id, action: 'desistement'}) }}" title="Se désister"><i class="bi bi-dash-circle"></i></a>
                                    {% endif %}
                                {% elseif  sortie.etat.libelle in ['En cours','Passée','Annulée']   %}
                                    <a href="{{ path('sortie_details', {id: sortie.id}) }}" title="Afficher la sortie"><i class="bi bi-search"></i></a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {{ include('utils/footer.html.twig') }}
{% endblock %}

