{% extends 'base.html.twig' %}
{% block title %}Profil | Sortir.com{% endblock %}
{% block body %}
    {{ include('utils/header.html.twig') }}

    <div class="container" style="min-height: 80vh">
        <h3 class="text-center py-3">{{ profil.prenom }} {{ profil.nom}}</h3>

        {{ form_start(profilForm) }}
        <div class="row pb-2">
            <div class="col-lg-4 my-auto text-center">
                <img
                    src="{{ profil.photo ? asset('upload/photos/' ~ profil.photo) : asset('img/blank_profile_pic.png') }}"
                    width="200px"
                    class="rounded-circle"
                />
            </div>
            <div class="col-lg-8">
                <div class="form-group pb-2">
                    {{ form_label(profilForm.pseudo, 'Pseudo :', {'label_attr' : {'class' : 'col-lg-2'}}) }}
                    {{ form_widget(profilForm.pseudo, {'attr': {'class': 'col-lg-4 ps-2'}}) }}
                </div>
                <div class="form-group pb-2">
                    {{ form_label(profilForm.prenom, 'Prénom :', {'label_attr' : {'class' : 'col-lg-2'}}) }}
                    {{ form_widget(profilForm.prenom, {'attr': {'class': 'col-lg-4 ps-2'}}) }}
                </div>
                <div class="form-group pb-2">
                    {{ form_label(profilForm.nom, 'Nom :', {'label_attr' : {'class' : 'col-lg-2'}}) }}
                    {{ form_widget(profilForm.nom, {'attr': {'class': 'col-lg-4 ps-2'}}) }}
                </div>
                <div class="form-group pb-2">
                    {{ form_label(profilForm.telephone, 'Téléphone :', {'label_attr' : {'class' : 'col-lg-2'}}) }}
                    {{ form_widget(profilForm.telephone, {'attr': {'class': 'col-lg-4 ps-2'}}) }}
                </div>
                <div class="form-group pb-2">
                    {{ form_label(profilForm.email, 'Email :', {'label_attr' : {'class' : 'col-lg-2'}}) }}
                    {{ form_widget(profilForm.email, {'attr': {'class': 'col-lg-4 ps-2'}}) }}
                </div>
                <div class="form-group pb-2">
                    {{ form_label(profilForm.plainPassword, 'Mot de passe :', {'label_attr' : {'class' : 'col-lg-2 align-middle'}}) }}
                    {{ form_widget(profilForm.plainPassword, {'value': profil.password,'attr': {'class': 'col-lg-4 ps-2'}}) }}
                </div>
                <div class="form-group pb-2">
                    {{ form_label(profilForm.plainPasswordConfirm, 'Confirmation :', {'label_attr' : {'class' : 'col-lg-2 align-middle'}}) }}
                    {{ form_widget(profilForm.plainPasswordConfirm, {'attr': {'class': 'col-lg-4 ps-2'}}) }}
                </div>
                <div class="form-group pb-2">
                    {{ form_label(profilForm.site, 'Site de rattachement :', {'label_attr' : {'class' : 'col-lg-2 align-middle'}}) }}
                    {{ form_widget(profilForm.site, {'attr': {'class': 'col-lg-4 ps-2'}}) }}
                </div>
                <div class="form-group pb-2">
                    {{ form_label(profilForm.photo, 'Ma photo :', {'label_attr' : {'class' : 'col-lg-2'}}) }}
                    {{ form_widget(profilForm.photo, {'attr': {'class': 'col-lg-4'}}) }}
                </div>
            </div>
        </div>
        <div class="form-group text-center">
            {{ form_widget(profilForm.enregistrer) }}
            <a class="btn btn-outline-danger col-lg-1" href="{{ path('home')}}">Retour</a>
        </div>
        {{ form_rest(profilForm) }}
        {{ form_start(profilForm) }}
    </div>

    {{ include('utils/footer.html.twig') }}
{% endblock %}
