{% extends 'base.html.twig' %}
{% block title %}Profil | Sortir.com{% endblock %}
{% block body %}
    {{ include('utils/header.html.twig') }}

    <div class="container" style="min-height: 80vh">
        <h3 class="text-center py-3">{{ profil.pseudo }}</h3>
        <div class="row">
            {# User profile picture #}
            {% if profil.photo is null %}
            <div class="col-lg-3 py-auto my-auto text-center">
                <img
                    src="{{ asset('img/blank_profile_pic.png') }}"
                    style="width:200px"
                    alt="profile_picture"
                />
            </div>
            {% else %}
            <div class="col-lg-3 py-auto my-auto text-center">
                <img
                        src="{{ asset('upload/'~ profil.photo)}}"
                        style="width:200px"
                        alt="profile_picture"
                        class="rounded-circle"
                />
            </div>
            {% endif %}

            {# User profile info #}
            <div class="col-lg-9">

                    <div class="form-group pb-2">
                        <p id="username" name="username" class="col-lg-4" >Pseudo : {{ profil.pseudo }}</p>
                    </div>
                    <div class="form-group pb-2">
                        <p id="firstname" name="firstname" class="col-lg-4" >Prénom : {{ profil.prenom }}</p>
                    </div>
                    <div class="form-group pb-2">
                        <p id="lastname" name="lastname" class="col-lg-4">Nom : {{ profil.nom }} </p>
                    </div>
                    <div class="form-group pb-2">
                        <p id="phoneNumber" name="phoneNumber" >Téléphone : {{ profil.telephone }}</p>
                    </div>
                    <div class="form-group pb-2">
                        <p id="email" name="email"  >Email : {{ profil.email }} </p>
                    </div>
                    {% if profil.site is not empty %}
                    <div class="form-group pb-2">
                        <p id="cities" name="cities"  >Site de rattachement : {{ profil.site.nom }} </p>
                    </div>
                    {% endif %}
            </div>
        </div>
    </div>

    {{ include('utils/footer.html.twig') }}
{% endblock %}
