{% extends 'base.html.twig' %}
{% block title %}Profil | Sortir.com{% endblock %}
{% block body %}
    {{ include('utils/header.html.twig') }}

    <div class="container" style="min-height: 80vh">
        <h3 class="text-center py-3">{{ profil.pseudo }} | {{ profil.prenom }} {{ profil.nom }}</h3>
        <div class="row">
            {# Image profil #}
            <div class="col-lg-3 py-auto my-auto text-center">
                <img
                    src="{{ asset('img/blank_profile_pic.png') }}"
                    style="width:200px"
                    alt="profile_picture"
                />
            </div>

            {# Form profil #}
            <div class="col-lg-5">
                <form method="post">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="bi bi-person"></i></span>
                        <input
                            type="text"
                            name="pseudo"
                            id="pseudo"
                            value="{{ profil.pseudo }}"
                            class="form-control"
                            placeholder="Nom d'utilisateur"
                            aria-label="pseudo"
                            aria-describedby="basic-addon1"
                        >
                    </div>

                    <a href="" class="btn btn-outline-primary" type="submit">Enregistrer</a>
                </form>
            </div>
        </div>
    </div>

    {{ include('utils/footer.html.twig') }}
{% endblock %}
