{% extends 'base.html.twig' %}
{% block title %}Profil | Sortir.com{% endblock %}
{% block body %}
    {{ include('utils/header.html.twig') }}

    <div class="container" style="min-height: 80vh">
        <div class="col my-auto mx-auto text-center">
            {% for message in app.flashes('notice') %}
                <div class="alert alert-success p-2 my-3">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        <h3 class="text-center py-3">{{ profil.prenom }} {{ profil.nom}}</h3>
        {% form_theme profilForm 'bootstrap_5_layout.html.twig' %}
            {{ form_start(profilForm) }}
            <div class="row pb-2">
                <div class="col-lg-4 my-auto text-center">
                    <img
                        src="{{ profil.photo ? asset('upload/photos/' ~ profil.photo) : asset('img/blank_profile_pic.png') }}"
                        width="200px"
                        class="rounded-circle"
                    />
                </div>
                <div class="col-lg-8">
                    <div class="row pb-2">
                        <div class="col-lg-2">
                            {{ form_label(profilForm.pseudo, 'Pseudo :') }}
                        </div>
                        <div class="col-lg-6">
                            {% if app.user.id == profil.id %}
                                {{ form_widget(profilForm.pseudo, {'attr': {'class': 'col-lg-4 ps-2'}}) }}
                                {{ form_errors(profilForm.children.pseudo) }}
                            {% else %}
                                {% do profilForm.pseudo.setRendered() %}
                                <span class="col-lg-4">{{ profil.pseudo }}</span>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row pb-2">
                        <div class="col-lg-2">
                            {{ form_label(profilForm.prenom, 'Prénom :') }}
                        </div>
                        <div class="col-lg-6">
                            {% if app.user.id == profil.id %}
                                {{ form_widget(profilForm.prenom, {'attr': {'class': 'col-lg-4 ps-2'}}) }}
                                {{ form_errors(profilForm.children.prenom) }}
                            {% else %}
                                {% do profilForm.prenom.setRendered() %}
                                <span class="col-lg-4">{{ profil.prenom }}</span>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row pb-2">
                        <div class="col-lg-2">
                            {{ form_label(profilForm.nom, 'Nom :') }}
                        </div>
                        <div class="col-lg-6">
                            {% if app.user.id == profil.id %}
                                {{ form_widget(profilForm.nom, {'attr': {'class': 'col-lg-4 ps-2'}}) }}
                                {{ form_errors(profilForm.children.nom) }}
                            {% else %}
                                {% do profilForm.nom.setRendered() %}
                                <span class="col-lg-4">{{ profil.nom }}</span>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row pb-2">
                        <div class="col-lg-2">
                            {{ form_label(profilForm.telephone, 'Téléphone :') }}
                        </div>
                        <div class="col-lg-6">
                            {% if app.user.id == profil.id %}
                                {{ form_widget(profilForm.telephone, {'attr': {'class': 'col-lg-4 ps-2'}}) }}
                                {{ form_errors(profilForm.children.telephone) }}
                            {% else %}
                                {% do profilForm.telephone.setRendered() %}
                                <span class="col-lg-4">{{ profil.telephone }}</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row pb-2">
                        <div class="col-lg-2">
                            {{ form_label(profilForm.email, 'Email :') }}
                        </div>
                        <div class="col-lg-6">
                            {% if app.user.id == profil.id %}
                                {{ form_widget(profilForm.email, {'attr': {'class': 'col-lg-4 ps-2'}}) }}
                                {{ form_errors(profilForm.children.email) }}
                            {% else %}
                                {% do profilForm.email.setRendered() %}
                                <span class="col-lg-4">{{ profil.email }}</span>
                            {% endif %}

                        </div>
                    </div>
                    {% if app.user.id == profil.id %}
                    <div class="row pb-2">
                        <div class="col-lg-2">
                            {{ form_label(profilForm.password.first, 'Mot de passe :') }}
                        </div>
                        <div class="col-lg-6">
                            {{ form_widget(profilForm.password.first, {'value': profil.password,'attr': {'class': 'col-lg-4 ps-2'}}) }}
                            {{ form_errors(profilForm.children.password.first) }}
                        </div>
                    </div>
                        <div class="row pb-2">
                            <div class="col-lg-2">
                                {{ form_label(profilForm.password.second, 'Confirmation :') }}
                            </div>
                            <div class="col-lg-6">
                                {{ form_widget(profilForm.password.second, {'value': profil.password,'attr': {'class': 'col-lg-4 ps-2'}}) }}
                            </div>
                        </div>
                    {% endif %}
                    <div class="row pb-2">
                        <div class="col-lg-2">
                            {{ form_label(profilForm.site, 'Site de rattachement :') }}
                        </div>
                        <div class="col-lg-6">
                            {% if app.user.id == profil.id %}
                                {{ form_widget(profilForm.site, {'attr': {'class': 'col-lg-4 ps-2'}}) }}
                            {% else %}
                                {% do profilForm.site.setRendered() %}
                                <span class="col-lg-4">{{ profil.site.nom }}</span>
                            {% endif %}

                        </div>
                    </div>
                    {% if app.user.id == profil.id %}
                    <div class="row pb-2">
                        <div class="col-lg-2">
                            {{ form_label(profilForm.photo, 'Ma photo :') }}
                        </div>
                        <div class="col-lg-6">
                            {{ form_widget(profilForm.photo, {'attr': {'class': 'col-lg-4'}}) }}
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="form-group text-center mt-3">
                {% if app.user.id == profil.id %}
                    {{ form_widget(profilForm.enregistrer) }}
                {% else %}
                    {% do profilForm.photo.setRendered() %}
                    {% do profilForm.plainPassword.setRendered() %}
                    {% do profilForm.plainPasswordConfirm.setRendered() %}
                    {% do profilForm.enregistrer.setRendered() %}
                {% endif %}
                <a class="btn btn-outline-danger col-lg-1" href="{{ path('home')}}">Retour</a>
            </div>
            {{ form_rest(profilForm) }}
            {{ form_start(profilForm) }}
    </div>

    {{ include('utils/footer.html.twig') }}
{% endblock %}
