{% extends 'base.html.twig' %}
{% block title %}Profil | Sortir.com{% endblock %}
{% block body %}
    {{ include('utils/header.html.twig') }}

    <div class="container" style="min-height: 80vh">
        <h3 class="text-center py-3">Mon Profil</h3>
        <div class="row">
            {# User profile picture #}
            <div class="col-lg-3 py-auto my-auto text-center">
                <img
                    src="{{ asset('img/blank_profile_pic.png') }}"
                    style="width:200px"
                    alt="profile_picture"
                />
            </div>

            {# User profile info #}
            <div class="col-lg-9">
                <form>
                    <div class="group pb-2">
                        <label for="username" class="col-lg-2">Pseudo :</label>
                        <p id="username" name="username" class="col-lg-4" >{{ app.user.pseudo }}</p>
                    </div>
                    <div class="form-group pb-2">
                        <label for="firstname" class="col-lg-2">Prénom :</label>
                        <p id="firstname" name="firstname" class="col-lg-4" > {{ app.user.prenom }}</p>
                    </div>
                    <div class="form-group pb-2">
                        <label for="lastname" class="col-lg-2">Nom :</label>
                        <p id="lastname" name="lastname" class="col-lg-4">{{ app.user.nom }} </p>
                    </div>
                    <div class="form-group pb-2">
                        <label for="phoneNumber" class="col-lg-2">Téléphone :</label>
                        <p id="phoneNumber" name="phoneNumber" >{{ app.user.telephone }}</p>
                    </div>
                    <div class="form-group pb-2">
                        <label for="email" class="col-lg-2">Email :</label>
                        <p id="email" name="email"  >{{ app.user.email }} </p>
                    </div>

                    <div class="form-group pb-2">
                        <label for="cities" class="col-lg-2">Site de rattachement :</label>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {{ include('utils/footer.html.twig') }}
{% endblock %}
