{% extends 'base.html.twig' %}

{% block title %}
    {% if sortie is defined %}
        Sortie N°{{ sortie.id }} | {{ sortie.nom }}
    {% else %}
        Créer une nouvelle sortie
    {% endif %}
{% endblock %}

{% block body %}
    {{ include('utils/header.html.twig') }}

    {# Flash Message #}
    {% for message in app.flashes('notice') %}
        <div class="alert alert-success text-center p-2 my-1 mx-3">
            {{ message }}
        </div>
    {% endfor %}

    {# Affichage Sortie #}
    <div class="container" style="min-height: 80vh">
        {% if sortie is defined %}
            <h3 class="text-center py-3"> Sortie N°{{ sortie.id }} | {{ sortie.nom }}</h3>
        {% else %}
            <h3 class="text-center py-3">Créer une sortie</h3>
        {% endif %}

        {# Modal d'ajout de lieu #}
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ajouter un nouveau lieu</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary">Ajouter</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            {# Col 1 du formulaire #}
            <div class="col-lg-6">
            {{ form_start(sortieForm) }}
                {# Nom #}
                <div class="form-group pb-2">
                    {{ form_label(sortieForm.nom, 'Nom de la sortie :', {'label_attr' : {'class' : 'col-lg-4'}}) }}
                    {% if sortie is defined and sortie.etat == 'Créée' %}
                        {{ form_widget(sortieForm.nom, {'value': sortie.nom,'attr': {'class': 'col-lg-7 ps-2'}}) }}
                    {% elseif sortie is defined and sortie.etat != 'Créée' %}
                        <span class='col-lg-7 ps-2'>{{ sortie.nom }}</span>
                        {% do sortieForm.nom.setRendered() %}
                    {% else %}
                        {{ form_widget(sortieForm.nom, {'attr': {'class': 'col-lg-7'}}) }}
                    {% endif %}
                </div>

                {# Date & Heure de début #}
                <div class="form-group pb-2">
                    {{ form_label(sortieForm.dateHeureDebut, 'Date et heure de la sortie :', {'label_attr' : {'class' : 'col-lg-4'}}) }}
                    {% if sortie is defined and sortie.etat == 'Créée' %}
                        {{ form_widget(sortieForm.dateHeureDebut, {'value': sortie.dateHeureDebut|date("d/m/Y H:m", "Europe/Paris"), 'attr': {'class': 'col-lg-7 ps-2'}}) }}
                    {% elseif sortie is defined and sortie.etat != 'Créée' %}
                        <span class='col-lg-7 ps-2'>{{ sortie.dateHeureDebut|date("d/m/Y H:m", "Europe/Paris") }}</span>
                        {% do sortieForm.dateHeureDebut.setRendered() %}
                    {% else %}
                        {{ form_widget(sortieForm.dateHeureDebut, {'attr': {'class': 'col-lg-4'}}) }}
                    {% endif %}
                </div>

                {# Date limite d'inscription #}
                <div class="form-group pb-2">
                    {{ form_label(sortieForm.dateLimiteIncription, "Date limite d'inscription :", {'label_attr' : {'class' : 'col-lg-4'}}) }}
                    {% if sortie is defined and sortie.etat == 'Créée' %}
                        {{ form_widget(sortieForm.dateLimiteIncription, {'value': sortie.dateLimiteIncription|date("d/m/Y"),'attr': {'class': 'col-lg-7 ps-2'}}) }}
                    {% elseif sortie is defined and sortie.etat != 'Créée' %}
                        <span class='col-lg-7 ps-2'>{{ sortie.dateLimiteIncription|date("d/m/Y") }}</span>
                        {% do sortieForm.dateLimiteIncription.setRendered() %}
                    {% else %}
                        {{ form_widget(sortieForm.dateLimiteIncription, {'attr': {'class': 'col-lg-4'}}) }}
                    {% endif %}
                </div>

                {# Nombre de participants #}
                <div class="form-group pb-2">
                    {{ form_label(sortieForm.nbInscriptionsMax, "Nombre de places :", {'label_attr' : {'class' : 'col-lg-4'}}) }}
                    {% if sortie is defined and sortie.etat == 'Créée' %}
                        {{ form_widget(sortieForm.nbInscriptionsMax, {'value': sortie.nbInscriptionsMax,'attr': {'class': 'col-lg-7 ps-2'}}) }}
                    {% elseif sortie is defined and sortie.etat != 'Créée' %}
                        <span class='col-lg-7 ps-2'>{{ sortie.nbInscriptionsMax }}</span>
                        {% do sortieForm.nbInscriptionsMax.setRendered() %}
                    {% else %}
                        {{ form_widget(sortieForm.nbInscriptionsMax, {'attr': {'class': 'col-lg-2'}}) }}
                    {% endif %}
                </div>

                {# Durée #}
                <div class="form-group pb-2">
                    {{ form_label(sortieForm.duree, "Durée :", {'label_attr' : {'class' : 'col-lg-4'}}) }}
                    {% if sortie is defined and sortie.etat == 'Créée' %}
                        {{ form_widget(sortieForm.duree, {'value': sortie.duree,'attr': {'class': 'col-lg-2 ps-2'}}) }}
                    {% elseif sortie is defined and sortie.etat != 'Créée' %}
                        <span class='col-lg-7 ps-2'>{{ sortie.duree }}</span>
                        {% do sortieForm.duree.setRendered() %}
                    {% else %}
                        {{ form_widget(sortieForm.duree, {'attr': {'class': 'col-lg-2'}}) }}
                    {% endif %}
                    minutes
                </div>

                {# Description & Infos #}
                <div class="form-group pb-2">
                    {{ form_label(sortieForm.infoSortie, "Description et infos :", {'label_attr' : {'class' : 'col-lg-4 align-top'}}) }}
                    {% if sortie is defined and sortie.etat == 'Créée' %}
                        {{ form_widget(sortieForm.infoSortie, {'value': sortie.infoSortie,'attr': {'class': 'col-lg-7'}}) }}
                    {% elseif sortie is defined and sortie.etat != 'Créée' %}
                        <span class='col-lg-7 ps-2'>{{ sortie.infoSortie }}</span>
                        {% do sortieForm.infoSortie.setRendered() %}
                    {% else %}
                        {{ form_widget(sortieForm.infoSortie, {'attr': {'class': 'col-lg-7'}}) }}
                    {% endif %}
                </div>

            </div>

            {# Col 2 du formulaire #}
            <div class="col-lg-6">
                {# Site organisateur #}
                <div class="form-group pb-2">
                    <label class="col-lg-4">Site organisateur :</label>
                    <label class="col-lg-7">
                        {% if sortie is defined %}
                            {{ sortie.site.nom }}
                        {% else %}
                            {{ app.user.site.nom }}
                        {% endif %}
                    </label>
                </div>

                {# Villes #}
                <div class="form-group pb-2">
                    <label for="cities" class="col-lg-4">Ville :</label>
                    <select name="cities" id="cities" class="col-lg-6 py-auto ps-2 align-middle">
                        <option value="">Choisir une ville...</option>
                        {% for ville in villes %}
                            <option value="{{ ville.id }}">{{ ville.nom }}</option>
                        {% endfor %}
                    </select>
                </div>

                {# Lieux #}
                <div class="form-group pb-2">
                    {{ form_label(sortieForm.lieu, "Lieu :", {'label_attr' : {'class' : 'col-lg-4 align-middle'}}) }}
                    {{ form_widget(sortieForm.lieu, {'attr': {'class': 'col-lg-6 py-auto ps-2 align-middle'}}) }}
                    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <i class="bi bi-plus-circle-fill"></i>
                    </button>
                </div>

                {# Adresse #}
                <div class="form-group pb-2">
                    <label for="streetName" class="col-lg-4 pb-2">Adresse : </label>
                    <label for="streetName" class="col-lg-7 ps-2"></label>
                </div>
                <div class="form-group pb-2">
                    <label for="zipcode" class="col-lg-4 pb-3">Code postal :</label>
                    <label for="zipcode" class="col-lg-7 ps-2"></label>
                </div>

                {# Latitude #}
                <div class="form-group pb-2">
                    <label for="latitude" class="col-lg-4 pb-2">Latitude :</label>
                    <input type="text" id="latitude" name="latitude" class="col-lg-3 ps-2" value="">
                </div>

                {# Longitude #}
<<<<<<< HEAD
                <div class="form-group pb-2">
                    <label for="longitude" class="col-lg-4">Longitude :</label>
                    <input type="text" id="longitude" name="longitude" class="col-lg-3 ps-2" value="">
                </div>
=======
                <label for="longitude" class="col-lg-4 pb-3">Longitude :</label>
                <input type="text" id="longitude" name="longitude" class="col-lg-7">
            </div>
        </form>

        {% if sortie is defined and sortie.sortiesParticipants|length > 0%}
            <h6 class="pb-1">Liste des participants inscrits :</h6>

            <div class="tableFixHead" style="height:125px;width: 45%">
                <table class="table table-bordered table-striped mb-0" >
                    <thead>
                    <tr class="table-primary text-center">
                        <th scope="col" class="text-center">Pseudo</th>
                        <th scope="col" class="text-center">Nom</th>
                    </tr>
                    </thead>
                    <tbody class="text-center">
                    {% for participant in sortie.sortiesParticipants %}
                        <tr>
                            <td>{{ participant.pseudo }}</td>
                            <td>{{ participant.prenom }} {{ participant.nom }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
>>>>>>> Added sign up / bail out fonctions on trips page
            </div>

            <div class="row pt-3">
                {# Affichage des participants #}
                <div class="col-lg-6">
                    {% if sortie is defined and sortie.sortiesParticipants|length > 0%}
                        <h6 class="pb-1">Liste des participants inscrits :</h6>

                        <div class="tableFixHead ps-2" style="height:125px;width:90%">
                            <table class="table table-bordered table-striped mb-0" >
                                <thead>
                                <tr class="table-primary text-center">
                                    <th scope="col" class="text-center">Pseudo</th>
                                    <th scope="col" class="text-center">Nom</th>
                                </tr>
                                </thead>
                                <tbody class="text-center">
                                {% for participant in sortie.sortiesParticipants %}
                                    <tr>
                                        <td>{{ participant.pseudo }}</td>
                                        <td>
                                            <a href="{{ path("profil", {id: participant.id}) }}" class="link-dark">
                                                {{ participant.prenom }} {{ participant.nom }}
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                </div>
                {# Affichage du motif d'annulation #}
                <div class="col-lg-6">
                    {% if sortie is defined and sortie.etat.libelle == 'Annulée' %}
                        <h6 class="pb-1"><i class="bi bi-exclamation-triangle-fill" style="color:red"></i> Motif d'annulation :</h6>
                        <span class="ps-2" style="width: 100%">{{ sortie.motifAnnulation }}</span>
                    {% endif %}
                </div>
            </div>

            {# Affichage des boutons d'action #}
            <div class="form-group pt-4 pb-2 text-center">
                {% if sortie is defined %}
                    {% if sortie.etat.libelle == 'Créée' %}
                        {{ form_widget(sortieForm.enregistrer) }}
                        {{ form_widget(sortieForm.publier) }}
                        <input type="submit" value="Supprimer la sortie" class="btn btn-outline-warning col-lg-auto"/>
                    {% elseif sortie.etat.libelle in ['Clôturée', 'Ouverte'] %}
                        {% do sortieForm.enregistrer.setRendered() %}
                        {% do sortieForm.publier.setRendered() %}
                        {% if sortie.organisateur.id == app.user.id or 'ROLE_ADMIN' in app.user.roles() %}
                            <a class="btn btn-warning col-lg-auto" href="{{ path('sortie_annuler', {id: sortie.id}) }}">Annuler la sortie</a>
                        {% endif %}
                    {% else %}
                        {% do sortieForm.enregistrer.setRendered() %}
                        {% do sortieForm.publier.setRendered() %}
                    {% endif %}
                {% else %}
                    {{ form_widget(sortieForm.enregistrer) }}
                    {{ form_widget(sortieForm.publier) }}
                {% endif %}
                <a class="btn btn-outline-danger col-lg-1" href="{{ path('home')}}">Retour</a>
            </div>

            {{ form_end(sortieForm) }}
        </div>
    </div>

    {{ include('utils/footer.html.twig') }}
{% endblock %}
