{% extends 'base.html.twig' %}
{% block title %}Gérer les villes | Sortir.com{% endblock %}
{% block body %}
    {{ include('utils/header.html.twig') }}

    <div class="container" style="min-height: 80vh">
        <div class="col my-auto mx-auto text-center">
            {% for message in app.flashes('notice') %}
                <div class="alert alert-success p-2 my-3">
                    {{ message }}
                </div>
            {% endfor %}
        </div>

        {# Modal Ajout de Ville #}
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ajouter une ville</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {{ form_start(villeForm) }}
                        <div class="form-group pb-2">
                            {{ form_label(villeForm.nom, 'Nom de la ville *:', {'label_attr' : {'class' : 'col-lg-4 align-middle'}}) }}
                            {{ form_widget(villeForm.nom, {'attr': {'class': 'col-lg-6 py-auto ps-2 align-middle'}}) }}
                        </div>
                        <div class="form-group pb-2">
                            {{ form_label(villeForm.codePostal, 'Code postal *:', {'label_attr' : {'class' : 'col-lg-4 align-middle'}}) }}
                            {{ form_widget(villeForm.codePostal, {'attr': {'class': 'col-lg-6 py-auto ps-2 align-middle'}}) }}
                        </div>
                    </div>
                    <div class="modal-footer">
                        {{ form_widget(villeForm.ajouter) }}
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    </div>
                    {{ form_end(villeForm) }}
                </div>
            </div>
        </div>

        {# Tableau + Filtre #}
        <h3 class="text-center py-3">Gérer les villes</h3>
        <h5>Filtrer les villes</h5>
        <div class="row">
            <div class="py-3 ps-3">
                {{ form_start(villeFiltreForm) }}
                    {{ form_label(villeFiltreForm.nom, 'Le nom contient : ', {'label_attr' : {'class' : 'align-middle'}}) }}
                    {{ form_widget(villeFiltreForm.nom, {'attr': {'class': 'align-middle'}}) }}
                    {{ form_widget(villeFiltreForm.rechercher, {'attr': {'class': 'align-middle btn btn-primary btn-sm'}}) }}
                    <a href="{{ path('villes') }}" title="Réinitialiser le filtre" class="btn btn-primary btn-sm"><i class="bi bi-arrow-clockwise"></i></a>
                    <button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Ajouter une ville
                    </button>
                {{ form_end(villeFiltreForm) }}
            </div>
        </div>
        <div class="tableFixHead">
            <table class="table table-hover table-bordered table-striped mb-0">
                <thead>
                    <tr class="table-primary">
                        <th scope="col" class="table-primary text-center">Ville</th>
                        <th scope="col" class="table-primary text-center">Code postal</th>
                        <th scope="col" class="table-primary text-center">Actions</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    {% for ville in villes %}
                        <tr>
                            <td>{{ ville.nom }}</td>
                            <td style="width: 20%">{{ ville.codePostal }}</td>
                            <td style="width: 20%">
                                <a href="" title="Modifier la ville"><i class="bi bi-pencil-square" style="font-size: 1.25rem"></i></a>
                                <a href="" title="Supprimer la ville"><i class="bi bi-x-square" style="font-size: 1.25rem"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
    {{ include('utils/footer.html.twig') }}
{% endblock %}
