{% extends 'base.html.twig' %}
{% block title %}Gérer les villes | Sortir.com{% endblock %}
{% block body %}
    {{ include('utils/header.html.twig') }}

    <div class="container">
        <h3 class="text-center py-3">Gérer les villes</h3>
        <h5>Filtrer les villes</h5>
            <form>
                <div class="row">
                    <div class="form-group py-3 ps-3">
                        <label for="citySearch" class="align-middle">Le nom contient :</label>
                        <input type="text" id="citySearch" class="align-middle">
                        <a href={{ path('villes_filtre') }} class="btn btn-primary btn-sm">Rechercher</a>
                    </div>
                </div>
            </form>
        <div class="tableFixHeadCity">
            <table class="table table-hover table-bordered table-striped mb-0">
                <thead>
                    <tr class="table-primary">
                        <th scope="col" class="table-primary text-center">Ville</th>
                        <th scope="col" class="table-primary text-center">Code postal</th>
                        <th scope="col" class="table-primary text-center">Actions</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    {% for ville in villes %}
                        <tr>
                            <td>{{ ville.nom }}</td>
                            <td>{{ ville.codePostal }}</td>
                            <td>
                                <a href="" title="Modifier la ville"><i class="bi bi-pencil-square" style="font-size: 1.25rem"></i></a>
                                <a href="" title="Supprimer la ville"><i class="bi bi-x-square" style="font-size: 1.25rem"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {{ include('utils/footer.html.twig') }}
{% endblock %}
