{% extends 'base.html.twig' %}

{% block title %}Réinitialiser votre mot de passe | Sortir.com{% endblock %}

{% block body %}
    {{ include('utils/header.html.twig') }}
    <div class="container" style="min-height: 80vh">
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
        <div class="d-flex justify-content-center text-center">
            <div class="col-lg-4">
                <h3 class="py-3 mb-4">Réinitialiser votre mot de passe</h3>
                    {{ form_start(requestForm) }}
                        <div class="form-group pb-2 text-center">
                            <label for="pseudo" class="col-lg-2">{{ form_label(requestForm.email) }} * :</label>
                            {{ form_widget(requestForm.email) }}
                        </div>
                    <div>
                        <small>
                            Entrez votre adresse email et nous vous enverrons
                            un lien pour réinitialiser votre mot de passe.
                        </small>
                    </div>
                    <button class="btn btn-primary">Envoyer l'email de réinitialisation</button>
                    {{ form_end(requestForm) }}
            </div>
        </div>
    </div>

    {{ include('utils/footer.html.twig') }}
{% endblock %}
