{% extends 'base.html.twig' %}

{% block title %}Reset your password | Sortir.com{% endblock %}

{% block body %}
    {{ include('utils/header.html.twig') }}
    <div class="container" style="min-height: 80vh">
        <div class="d-flex justify-content-center text-center">
            <div class="col">
                <h3 class="py-3 mb-4">Reinitialiser votre mot de passe</h3>
                <div class="form-group pb-2 text-center">
                    {{ form_start(resetForm) }}

                    <div class="form-group pb-2 text-center">
                        <label for="motdepasse" class="col-lg-2">Mot de passe * :</label>
                        {{ form_widget(resetForm.plainPassword) }}
                    </div>

                    <div class="form-group pb-2 text-center">
                        <label for="confirmation" class="col-lg-2">Confirmation * :</label>
                        {{ form_widget(resetForm.plainPasswordConfirm) }}
                    </div>
                <button class="btn btn-primary">Réinitialiser le mot de passe</button>
                    {{ form_end(resetForm) }}
                </div>
            </div>
        </div>
    </div>

    {{ include('utils/footer.html.twig') }}
{% endblock %}
