{% extends 'base.html.twig' %}
{% block title %}Gérer les sites | Sortir.com{% endblock %}
{% block body %}
    {{ include('utils/header.html.twig') }}

    <div class="container" style="min-height: 80vh">
        <div class="col my-auto mx-auto text-center">
            {% for message in app.flashes('notice') %}
                <div class="alert alert-success p-2 my-3">
                    {{ message }}
                </div>
            {% endfor %}
        </div>

        {# Modal Ajout de Site #}
        <div class="modal fade" id="ajoutSite" tabindex="-1" aria-labelledby="ajoutSiteLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    {{ form_start(siteForm) }}
                        <div class="modal-header">
                            <h5 class="modal-title" id="ajoutSiteLabel">
                                Ajouter un site
                            </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group pb-2">
                                {{ form_label(siteForm.nom, 'Nom du site *:', {'label_attr' : {'class' : 'col-lg-4 align-middle'}}) }}
                                {{ form_widget(siteForm.nom, {'attr': {'class': 'col-lg-6 py-auto ps-2 align-middle'}}) }}
                                {{ form_widget(siteForm.id)}}
                            </div>
                        </div>
                        <div class="modal-footer">
                            {{ form_widget(siteForm.ajouter) }}
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                        </div>
                    {{ form_end(siteForm) }}
                </div>
            </div>
        </div>

        {# Tableau + Filtre #}
        <h3 class="text-center py-3">Gérer les sites</h3>
        <h5>Filtrer les sites</h5>
        <div class="row">
            <div class="py-3 ps-3">
                {{ form_start(siteFiltreForm) }}
                {{ form_label(siteFiltreForm.nom, 'Le nom contient : ', {'label_attr' : {'class' : 'align-middle'}}) }}
                {{ form_widget(siteFiltreForm.nom, {'attr': {'class': 'align-middle'}}) }}
                {{ form_widget(siteFiltreForm.rechercher, {'attr': {'class': 'align-middle btn btn-primary btn-sm'}}) }}
                <a href="{{ path('sites') }}" title="Réinitialiser le filtre" class="btn btn-primary btn-sm"><i class="bi bi-arrow-clockwise"></i></a>
                <button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#ajoutSite">
                    Ajouter un site
                </button>
                {{ form_end(siteFiltreForm) }}
            </div>
        </div>
        <div class="tableFixHead" style="height: 370px">
            <table class="table table-hover table-bordered table-striped mb-0">
                <thead>
                <tr class="table-primary">
                    <th scope="col" class="table-primary text-center">Ville</th>
                    <th scope="col" class="table-primary text-center">Actions</th>
                </tr>
                </thead>
                <tbody class="text-center">
                {% for site in sites %}
                    <tr>
                        <td>{{ site.nom|upper }}</td>
                        <td style="width: 20%">
                            <button
                                type="button"
                                class="btn btn-sm p-0"
                                data-bs-toggle="modal"
                                data-bs-target="#ajoutSite"
                                data-bs-site="{{ site.nom }}"
                                data-bs-id="{{ site.id }}"
                            >
                                <i class="bi bi-pencil-square link-primary" style="font-size: 1.25rem;"></i>
                            </button>
                            <button
                                type="button"
                                class="btn btn-sm p-0"
                            >
                                <i class="bi bi-x-square link-primary" style="font-size: 1.25rem;"></i>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
    <script>
        document.addEventListener('show.bs.modal', function (event) {
            let button = event.relatedTarget

            let site = button.getAttribute('data-bs-site')
            let modalSiteValue = document.getElementById('site_form_nom')
            modalSiteValue.value = site

            let id = button.getAttribute('data-bs-id')
            let modalSiteId = document.getElementById('site_form_id')
            modalSiteId.value = id

            if (id) {
                let modalTitle = document.querySelector('.modal-title')
                modalTitle.textContent = 'Modifier le site'

                let modalButton = document.getElementById('site_form_ajouter')
                modalButton.textContent = 'Modifier'
            }
        })
    </script>

    {{ include('utils/footer.html.twig') }}
{% endblock %}
